- if current_user == @user
  .container
    .row
      .col-md-4
        =link_to 'Edit your profile!', edit_user_registration_path
.container
  .jumbotron
    .row
      .col-md-2
        %img{:src => "http://placehold.it/150x150", :alt => "avatar", :title => "avatar"}
      .col-md-10
        %p
          Hello, my name is 
          = @user.firstname
          and welcome on my profile page!
        %p
          You can send me an
          = mail_to @user.email, "e-mail"
          if you want to say hello!
          
        %p.text-right
          Forever yours, 
          %em= @user.firstname
          %em= @user.lastname
    .row
      .col-md-8
        %p You can also read my reviews!
        %p
          - @reviews.each do |r|
            %blockquote.well
              %p
                %em=r.content
              .row
                .col-md-5
                  %p
                    = "Rated: " + r.rating.to_s 
                .col-md-7
                  %p.text-right
                    = r.created_at.strftime("%d-%m-%y")

