.container 
  .row
    .col-md-4
      = link_to 'Back', category_products_path
    - if current_user && current_user.admin?
      .col-md-8
        %p.text-right
          =link_to 'Edit', edit_category_product_path(category, product)
          \|
          =link_to 'Delete', category_product_path(category, product), method: :delete, data: { confirm: 'Are you sure?' }

.container
  .jumbotron
    .row
      .col-md-12
        .row
          .col-md-5
            %img(src="http://placehold.it/420x200")
          .col-md-7
            %p
              %b= product.title
              %hr(style="border-top: 1px solid #000;")
            %p
              = product.description
            .row
              .col-md-3
                %p.text-left
                  = link_to product.category.name, category_url(product.category)
              .col-md-6
              .col-md-3
                %p.text-right
                  = '$' + product.price.to_s

        
        %h3 Reviews
        = render reviews #ereviews/form'
        .row
          .col-md-4
            %p
              %h3 New review
              = render 'reviews/form'
